.has-scale{
    visibility: hidden;
    transform: scale(0);
}

@keyframes scale-in{
    from{
    /* you cant animate display property */
        visibility: hidden; 
        transform: scale(0);
    }

    1%{
        visibility: visible;
        transform: scale(0);
    }

    to{
        transform: scale(1);
        visibility: visible;
    }
}

.scale-in{
    animation: scale-in 200ms ease-in-out forwards; //forwards stays at whatever the final result is
}


@keyframes scale-out{
    from{
    /* you cant animate display property */
        visibility: visible; 
        transform: scale(1);
    }

    99%{
        visibility: visible;
        transform: scale(0);
    }

    to{
        transform: scale(0);
        visibility: hidden;
    }
}

.scale-out{
    animation: scale-out 200ms ease-in-out forwards; //forwards stays at whatever the final result is
}